{% extends 'base.html.twig' %}

{% block title %}Les Tricks | {% endblock %}

{% block body %}
    <header id='tricks'>
    {% if app.user %}
                        <div class="mb-3">
                        <p class="connected"> Salut <span class="pseudo_connect"> {{ app.user.name }} </span>!</p>
                        </div>
    {% endif %}
        <h1>Les Tricks pour briller sur les pistes</h1>
        <div id="scroll_to_down">
            <a href="#Tricks"><img src="../img/down.png" alt="Descendre" /></a>
        </div>
    </header>
    <section class='container-fluid' id="Tricks">
        <div class="row">
            {% for trick in tricks %}
            <div class="col-lg-4 col-sm-2 trick">
                <figure>
                    <img class="photo_tricks" src="/img/{{trick.photo}}">
                    <figcaption>
                        <div class="container-fluid tricks">
                            <a href="{{path('single', {"name": trick .name})}}"><h2>{{trick.name}}</h2></a>
                            {% if app.user %}
                                <a href="{{path('update', {"id": trick .id})}}" class="links_tricks"><img src="/img/update.png"></a>
                                <a class="button links_tricks" href="#popup1/{{trick.id}}"><img src="/img/delete.png"></a>
                                {% else %}
                            {% endif %}
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div id="popup1/{{trick.id}}" class="overlay">
                <div class="popup container-fluid">
                    <h2>On supprime vraiment ce trick ?</h2>
                        <div class="row">
                            <div class="col-2 offset-4">
                                <button class="btn btn-primary"><a class="close" href="{{path('delete', {"id": trick .id})}}">Oui</a></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary"><a class="close" href="/tricks">Non</a></button>
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-4 col-sm-2 trick row align-items-center">
            {% if app.user %}
                <button class="btn btn-primary"><a class="create" href="{{path('create')}}">Créer un nouveau Trick</a></button>
            {% else %}
            {% endif %}
            </div>
        </div>
            <div id="scroll_to_top">
                <a href="#tricks"><img src="../img/scrolltop.png" alt="Retourner en haut" /></a>
            </div>
    </section>
{% endblock %}
