{% extends 'base.html.twig' %}

{% block title %}{{ tricks.name }} | {% endblock %}

{% block body %}
    <header id='tricks' style="background: url(/img/{{tricks.header}});background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">
         {% if app.user %}
    <div class="row" style="padding-top:1rem; margin: 0 0;">
        <div class="col-md-11 col-sm-0">
        </div>
        <div class="col-lg-1 col-sm-12"><a href="{{path('updateHeader', {"id": tricks .id})}}" class="links_tricks"><img src="/img/update.png"></a>
            <a class="button links_tricks" href="#popup1/{{tricks.id}}"><img src="/img/delete.png"></a>
        </div>
    </div> 
    {% endif %}   
     {% if app.user %}
        <div class="mb-3">
            <p class="connected"> Salut <span class="pseudo_connect"> {{ app.user.name }} </span>!</p>
        </div>
    {% endif %}
        <h1>{{tricks.name}}</h1>
    </header>
    <button class="btn-primary btn-medias"><a href="#popup4">Afficher les médias</a></button>
    <section class="container-fluid single-trick">
        <div class="row single">
            <div class="col-md-6 col-sm-12">
                <h2>Photo</h2>
                <img src="/img/{{tricks.photo}}">
                {% if app.user %}
                <div class="row" style="padding:1rem 0">
                    <div class="col-5">
                    </div>
                        <div class="col-1">
                            <a href="{{path('updatePhoto', {"id": tricks .id})}}" class="links_tricks"><img style="width:30px; height:30px;" src="/img/update.png"></a>
                        </div>
                        <div class="col-1">
                            <a class="button links_tricks" href="#popup2/{{tricks.id}}"><img style="width:30px; height:30px;" src="/img/delete.png"></a>
                        </div>
                        <div class="col-5">
                    </div>
                </div> 
                {% else %}
                {% endif %}
            </div>
            <div class="col-md-6 col-12">
                <h2>Vidéo</h2>
                <iframe  src="{{tricks.video}}" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
                {% if app.user %}
                <div class="row" style="padding:1rem 0">
                    <div class="col-5">
                    </div>
                        <div class="col-1">
                            <a href="{{path('updateVideo', {"id": tricks .id})}}" class="links_tricks"><img style="width:30px; height:30px;" src="/img/update.png"></a>
                        </div>
                        <div class="col-1">
                            <a class="button links_tricks" href="#popup3/{{tricks.id}}"><img style="width:30px; height:30px;" src="/img/delete.png"></a>
                        </div>
                        <div class="col-5">
                    </div>
                </div> 
                {% else %}
                {% endif %}
            </div>
            </div> 
        </div>
        <div class="row single-blue">
            <div class="col-12 description">
                <p>{{tricks.description}}<p>
            </div>
            <div class="col-sm-4">
                <div class="bottom">
                    <h3>Type de trick</h3>
                    <p>{{tricks.type}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bottom">
                    <h3>Créé le</h3>
                    <p>{{tricks.created_at|date("d/m/Y")}}</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bottom">
                    <h3>Modifié le</h3>
                        <p>{{tricks.updated_at|date("d/m/Y")}}</p>
                    <p></p>
                </div>
            </div>
        </div>
     {% if app.user %}
            <div class="row form-single align-center">
                        <h2>Ajouter un commentaire</h2>
                        {{ form_start(AddComment) }}
                            {{ form_row(AddComment.content) }}
                            <button type="submit" class="btn btn-lg btn-primary my-3">Ajouter</button>
                        {{ form_end(AddComment) }}
            </div>
        {% else %}
        {% endif %}
    <div class="container">
        <div class="row single_comment ">
            <h2>Discussions à propos de "{{tricks.name}}"</h2>
            {% for comment in comments %}
            <div class="col-lg-2 col-sm-12 comments">
                <img class="img_comment" src="/img/{{comment.users.photo}}">
                <h3>{{comment.users.name}}</h3>
            </div>
            <div class="col-lg-10 col-sm-12 comments">
                <p>{{comment.content}}</p>
                <p class="comment_date">{{comment.dateTime|date("d/m/Y")}}</p>
            </div>


                {% endfor %} 
        </div>
    </div>
    </section>
    <div id="popup1/{{tricks.id}}" class="overlay">
        <div class="popup container-fluid">
            <h2>On supprime vraiment le bandeau de ce trick ?</h2>
                <div class="row">
                    <div class="col-2 offset-4">
                        <button class="btn btn-primary"><a class="close" href="/tricks/deleteHeader/{{tricks.id}}">Oui</a></button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary"><a class="close" href="/tricks/trick/{{tricks.name}}">Non</a></button>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
        </div>
    </div>
    <div id="popup2/{{tricks.id}}" class="overlay">
        <div class="popup container-fluid">
            <h2>On supprime vraiment la photo de ce trick ?</h2>
                <div class="row">
                    <div class="col-2 offset-4">
                        <button class="btn btn-primary"><a class="close" href="/tricks/deletePhoto/{{tricks.id}}">Oui</a></button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary"><a class="close" href="/tricks/trick/{{tricks.name}}">Non</a></button>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
        </div>
    </div>
    <div id="popup3/{{tricks.id}}" class="overlay">
        <div class="popup container-fluid">
            <h2>On supprime vraiment la vidéo de ce trick ?</h2>
                <div class="row">
                    <div class="col-2 offset-4">
                        <button class="btn btn-primary"><a class="close" href="/tricks/deleteVideo/{{tricks.id}}">Oui</a></button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary"><a class="close" href="/tricks/trick/{{tricks.name}}">Non</a></button>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
        </div>
    </div>
    <div id="popup4" class="overlay">
        <div class="popup medias container-fluid">
           <div class="row single-mobile">
           <a href="/tricks/trick/{{tricks.name}}" class="close-medias">X</a>
            <div class="col-lg-6 col-sm-12">
                <h2>Photo</h2>
                <img src="/img/{{tricks.photo}}">
                {% if app.user %}
                <div class="row" style="padding:1rem 0">
                    <div class="col-5">
                    </div>
                        <div class="col-1">
                            <a href="{{path('updatePhoto', {"id": tricks .id})}}" class="links_tricks"><img style="width:30px; height:30px;" src="/img/update.png"></a>
                        </div>
                        <div class="col-1">
                            <a class="button links_tricks" href="#popup2/{{tricks.id}}"><img style="width:30px; height:30px;" src="/img/delete.png"></a>
                        </div>
                        <div class="col-5">
                    </div>
                </div> 
                {% else %}
                {% endif %}
            </div>
            <div class="col-lg-6 col-12">
                <h2>Vidéo</h2>
                <iframe  src="{{tricks.video}}" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
                {% if app.user %}
                <div class="row" style="padding:1rem 0">
                    <div class="col-5">
                    </div>
                        <div class="col-1">
                            <a href="{{path('updateVideo', {"id": tricks .id})}}" class="links_tricks"><img style="width:30px; height:30px;" src="/img/update.png"></a>
                        </div>
                        <div class="col-1">
                            <a class="button links_tricks" href="#popup3/{{tricks.id}}"><img style="width:30px; height:30px;" src="/img/delete.png"></a>
                        </div>
                        <div class="col-5">
                    </div>
                </div> 
                {% else %}
                {% endif %}
            </div>
            </div> 
        </div>
    </div>
{% endblock %}