{% extends 'base.html.twig' %}

{% block title %}Modifier un Trick | {% endblock %}

{% block body %}

    <section id='tricks'>
        <h1>Modifier un trick</h1>
        <div class="container" >
            <div class="row">
                <div class="col form">
                        {{ form_start(UpdateTrick) }}
                            {{ form_row(UpdateTrick.name) }}
                            {{ form_row(UpdateTrick.description) }}
                            {{ form_row(UpdateTrick.type) }}
                            {{ form_row(UpdateTrick.photo) }}
                            {{ form_row(UpdateTrick.video) }}

                            <button type="submit" class="btn btn-lg btn-primary my-3">Modifier le Trick</button>
                        {{ form_end(UpdateTrick) }}
                </div>
            </div>
        </div>

    </section>
{% endblock %}
